body{
    display: flex;
    justify-content: center;
    align-content: center;
}
.row-all{
    padding-top: 150px;
}



.icon-check {
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.icon-check:hover{
    color: green;
}
.icon-transh{
    cursor: pointer;
    transition: 0.3s;
}
.icon-transh:hover{
    color: red
}
.icon-edit{
    cursor: pointer;
    transition: 0.3s;
    margin-right: 20px;
}
.icon-edit:hover{
    color: green;
}